header .header-black li.club-1 {
	background-position: 0px 0px;
}
header .header-black li.club-2 {
	background-position: -48px 0px;
}
header .header-black li.club-3 {
	background-position: -95px 0px;
}
header .header-black li.club-4 {
	background-position: -140px 0px;
}
header .header-black li.club-5 {
	background-position: -189px 0px;
}
header .header-black li.club-6 {
	background-position: -239px 0px;
}
header .header-black li.club-7 {
	background-position: -288px 0px;
}
header .header-black li.club-8 {
	background-position: -334px 0px;
}
header .header-black li.club-9 {
	background-position: -381px 0px;
}
header .header-black li.club-10 {
	background-position: -429px 0px;
}
header .header-black li.club-11 {
	background-position: -478px 0px;
}
header .header-black li.club-12 {
	background-position: -527px 0px;
}
header .header-black li.club-13 {
	background-position: -579px 0px;
}
header .header-black li.club-14 {
	background-position: -629px 0px;
}
header .header-black li.club-15 {
	background-position: -671px 0px;
}
header .header-black li.club-16 {
	background-position: -719px 0px;
}
header .header-black li.club-17 {
	background-position: -763px 0px;
}
header .header-black li.club-18 {
	background-position: -808px 0px;
}
header .header-black li.club-19 {
	background-position: -853px 0px;
}
header .header-black li.club-20 {
	background-position: -900px 0px;
}
header .header-black li.club-21 {
	background-position: -950px 0px;
}
header .header-black li.club-22 {
	background-position: -1000px 0px;
}